{% extends "base.html" %}

{% block title %}ホーム{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
        <h1 class="h2">ダッシュボード</h1>
    </div>
    <p>ここにメインコンテンツが表示されます。</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>お知らせ</h3>
                <p>こちらはダミーのテキストです。後で編集してください。</p>
            </div>
            <div class="col">
                <h3>最近のアクティビティ</h3>
                <p>こちらもダミーのテキストです。後で編集してください。</p>
            </div>
        </div>
    </div>
{% endblock %}
